// Colours
$primary: #f74856;
$blue:    #2185d0;
$green:   #21ba45;
$red:     #db2828;
$lab-red: #e4003b;
$yellow:  #fbbd08;

$black-blue: #19293a;
$black-grey: #262628;
$light-grey: #f2f2f2;

$link: darken($primary, 10%);